.app {
	min-width: 500px;
	max-width: 700px;
	height: 400px;
	margin: 0 auto;
	background-color: #f1f1f1;
	padding: 10px;
	box-sizing: border-box;
}
.app h3 {
	margin-top: 0;
}
.app input {
	outline: none;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	height: 25px;
}
.app button {
	margin-left: 10px;
	height: 25px;
	border: none;
	background-color: #94ad8d;
	transition: all 0.3s;
	outline: none;
}
.app button:hover {
	background-color: #cc1;
}
.app button:active {
	background-color: #cf3;
}
.app button:disabled {
	background-color: #e2e2e2;
}
.app input:focus {
	box-shadow: 0 0 10px #636363;
}
ul li {
	list-style: none;
}
